*.swp
*.log
Makefile
Makefile.in
/ar-lib
.deps
.libs
*.o
*.lo
*.la
*.patch
!makefile.patch
autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
config.h
/config.sub
/configure
/missing
/depcomp
/install-sh
/stamp-h1
/ltmain.sh
config.status
configure.scan
libtool
*.gz
*.dirstamp
config.h.in~
src/mbedtls
/html
/latex
uta_get_passphrase
uta_reg_test
