# Unified Trust Anchor API Rust Wrapper
#
# Copyright (c) Siemens Mobility GmbH, 2025
#
# Authors:
#    Christian P. Feist <christian.feist@siemens.com>
#    Hermann Seuschek <hermann.seuschek@siemens.com>
#
# This work is licensed under the terms of the Apache Software License
# 2.0. See the COPYING file in the top-level directory.
#
# SPDX-FileCopyrightText: Copyright 2025 Siemens
# SPDX-License-Identifier: Apache-2.0
#
/target
**/*.rs.bk
Cargo.lock
